{% load static %}
<footer class="footer bg-light py-4" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <!-- Primera columna: formulario de contacto -->
            <div class="col-lg-9 col-sm-12 mb-5 mb-lg-0">
                <h5 class="text-uppercase" style="float: center;">Contáctanos</h5>

                <form method="POST" action="{% url 'contact' %}" style="float: center; width: 100%;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="issueTypeSelect">Tipo de incidencia</label>
                        <select class="form-control" id="issueTypeSelect" name="issue_type">
                            <option value="">--Selecciona una opción--</option>
                            <option value="reporte">Reportar un problema</option>
                            <option value="sugerencia">Sugerencia</option>
                            <option value="queja">Queja</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="messageTextArea">Mensaje</label>
                        <textarea class="form-control" id="messageTextArea" rows="3" name="message"></textarea>
                    </div>
                    <div id="messageBox"></div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

            <!-- Segunda columna: información de la empresa -->
            <div class="col-lg-3 col-sm-12 mt-4">
                <!-- Aquí puedes agregar información adicional sobre la empresa o cualquier otro contenido que desees. -->
            </div>
        </div>
    </div>
    <div class="text-center py-3 mt-2">Copyright &copy; 2023 - AgroEnlazados</div>
    
    <script>
        window.onload = function() {
            {% for message in messages %}
                var messageBox = document.getElementById('messageBox');
                messageBox.innerHTML = "{{ message }}";
            {% endfor %}
        }
    </script>
</footer>
